<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>

<Body>
    <h1>To Do List</h1>
    {% if all_tasks |count ==0: %}
    <p>You have nothing planned to do</p>
    {% else: %}
    <!-- {% for item in all_tasks %}
    <p>{{ item["to_do"] }}</p>
    {% endfor %} -->
    <div id="remove_task">
        <form action="/remove_task" method="POST">
            {% for item in all_tasks %}
            <input type="checkbox" name="check" id="{{ item['id'] }}" , value="{{ item['id']}}">
            <label for="{{ all_tasks}}" name="{{ item['to_do']}}">{{ item['to_do']}}</label><br>
            {% endfor %}
            <input type="submit" name="" id="" value="REMOVE TASK">

        </form>
    </div>
    {% endif %}
    <form action="/add" method="POST">
        <label>New Task:</label>
        <input type="text" , name="new_task">
        <button id="submit_btn" type="submit">Add task</button>
    </form>



</Body>










</html>